container {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-column-gap: 2em;
    justify-content: center;
  }
  
  .team {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem;
    text-align: center;
  }
  
  .team#heroes {
    justify-content: flex-end;
  }